div#wrapper {
	width: 100%;
}

div#controls {
	float: right;
	width: 13em;
	height: 100%;
}

div#content {
	margin-right: 14em;
}

/* Map */
.map-box {
	border-style: groove;
	border-color: #a9a9a9;
}

.region {
	fill: #ffffff;
	stroke: #a9a9a9;
	stroke-width: 1;
}

.province {
	fill: #ffffff;
	stroke: #a9a9a9;
	stroke-width: 0.5;
}

.heatmap-canvas {
	display: none;
}

.heatmap-image {
	pointer-events: none;
	opacity: 0.7;
}

/* Metadata */
.d3-tip {
	line-height: 1;
	padding: 6px;
	background: rgba(167, 166, 157, 0.9);
	color: #FFF;
	border-radius: 4px;
	font-size: 12px;
	pointer-events: none;
}

.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(167, 166, 157, 0.9);
	content: "\25BC";
	position: absolute;
	text-align: center;
	pointer-events: none;
}

.d3-tip.n:after {
	margin: -2px 0 0 0;
	top: 100%;
	left: 0;
	pointer-events: none;
}

/* Selector */
.selector, .circleInfo, .rangeInfo {
	border-style: solid;
	border-width: 2px;
	border-radius: 8px;
	padding: 2px;
}

.selector {
	margin-bottom: 8px;
	border-color: #00cccc;
}

.circleInfo {
	margin-top: 8px;
	margin-bottom: 8px;
	border-color: #ff0000;
}

.rangeInfo {
	margin-top: 8px;
	border-color: #ff0000;
}

.section {
	margin: 2px 2px 2px 2px;
	word-wrap: break-word;
}

.switch-field {
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 11px;
	line-height: 1;
	text-align: center;
	padding: 7px 14px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field input:checked + label {
	background-color: #00cccc;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

select#occ-select {
	-webkit-appearance: menulist;
	background-color: #e4e4e4;
	width: 100%;
	height: 28px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}